[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
flask-cors = "*"
llama-stack-client = "*"
llama-stack = "*"
aiosqlite = "*"
faiss-cpu = "*"
ollama = "*"
datasets = "*"
opentelemetry-exporter-otlp-proto-http = "*"
mcp = "*"
autoevals = "*"

[dev-packages]
pytest = "*"
ruff = "*"
pre-commit = "*"
summairizer = {editable = true, path = "."}
flake8 = "*"
ipython = "*"

[requires]
python_version = "3.12"
